.message-list  {
    width: 100%;
    overflow-y: scroll;

}

.message-list li {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  margin-bottom: 10px;
}

.moderation-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  
}
.nes-list.is-dark.is-circle li::before {
  top: 15px !important;
}
.chat-wrapper {
    padding: 40px;
    min-height: 98vh;
}

.chat {
    display: flex;
    height: 90vh;
    flex-direction: column;
     justify-content: flex-end;
}

.nes-balloon .nes-text {
    word-wrap: break-word ;            
    word-break: break-word ;            
}

.message {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  .nes-ballon {
    padding-bottom: 0px;
  }
  
  
  .user {

    display: flex;
    flex-direction: column;
  }
  
  .avatar {
    max-width: 20px;
    max-height: 20px;
    padding: 10px;
    padding-top: 30px;
    margin-right: 40px;
  }

  .nes-bcrikko {
    width: 10px !important;
    height: 10px !important;
  }
  
  form {
    display: flex;
    flex-direction: row;
  }