@font-face {
  font-family: 'PressStart2P';
  src: url('./assets/pressstart2p-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/pressstart2p-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/pressstart2p-regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

.App {
  text-align: center;
  font-family: 'PressStart2P', cursive;
  height: 100%;
}
=
.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: white;
}

